.u-section-1 .u-sheet-1 {
  min-height: 379px;
}

.u-section-1 .u-text-1 {
  font-family: Cinzel;
  margin: 119px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 20px auto 60px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}