.body{
  background-color: #ebf1f5;
}

@font-face {
  src: url (Fonts/CorpoS.ttf);
  font-family: Corpo S;
  }
  
.title{
  font-size: 40px;
  line-height: 52px;
  font-family: Corpo S;
}
